{% load static %}
<footer class="border-top text-center py-3">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product:index' %}" style="text-transform: uppercase;">Marbleyou</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="nav-link " href="tel:+79774140893">+7 (977) 414-08-93</a>
      </li>
      <span class="navbar-text d-none d-md-inline">
        +7 (977) 414-08-93
      </span>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about:contacts' %}">Контакты</a>
      </li>
      <li class="nav-item" style="margin-right: -1rem;">
        <a class="nav-link" href="https://t.me/marbleyou_store"><img src="{% static 'img/icons/telegram.svg' %}" class="bi text-muted flex-shrink-0 me-3" width="20" height="20" style="fill: #FF0000;"></a>
      </li>
      <li class="nav-item" style="margin-right: -1rem;">
        <a class="nav-link" href="https://wa.me/+79774140893"><img src="{% static 'img/icons/whatsapp.svg' %}" class="bi text-muted flex-shrink-0 me-3" width="20" height="20"></a>
      </li>
    </ul>
  </nav>
</footer>