{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  {{ product.title }}
{% endblock %}
{% block content %}
<div class="container py-4" style='margin-top: 5rem;'>
  <div class="row featurette">
    <div class="col-md-4 order-md-2">
      <h1 class="text-center" style="font-size: 30px;">{{ product.title }}</h1>
      <p class="lead" style="margin-top: 2rem;">{{ product.description }}</p>
    </div>
    <div class="col-md-8" style="height: 500px;">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          {% for img in album %}
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <img src="{{ img.image.url }}" class="d-block w-100 img-fluid" style="object-fit: cover; height: 500px;">
          </div>
          {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next"
          type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="offset-md-6 position-relative" style="margin-top: -3rem; z-index: 1;">
    <div class="d-flex justify-content-center">
      <button type="button"
      class="btn btn-content"
      data-bs-toggle="modal" data-bs-target="#exampleModal">
      Заказать</button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal"
tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div>
          <div class="modal-header text-white" style="background-color: #537590;">
            Заказ
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              {% crispy o_form %}
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container py-4">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success text-center">
      <strong>{{message}}</strong>
    </div>
  {% endfor %}
  {% endif %}
  <hr class="featurette-divider">
  <div class="col-md-8 offset-md-2 d-flex justify-content-center">
    <p style="font-size: 20px;">{{ product.second_description }}</p>
  </div>
  <hr class="featurette-divider">
</div>

<section id="calculate">
  <div class="container py-4" >
    <div class="d-flex justify-content-center align-items-center">
      <div class="card col-8">
        <div class="card-header text-white" style="background-color: #537590;">
          {{ c_form.title }}
        </div>
        <div class="card-body border">
          <div style="margin-bottom: 1rem;">
            <b>{{ c_form.description }}</b>
          </div>
          <form method="post">
            {% csrf_token %}
            {% crispy c_form %}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container py-4">
<hr class="featurette-divider" style="margin-top: 1rem;">
<h2 class="text-center" style='margin-top: 2rem;'>Каталог: {{ product.genus }}</h2>
  <div class="row">
    {% for stone in stones %}
    <div class="col-md-6 mt-4 mb-2">
      <div class="card" >
        <a href="{% url 'product:stone_detail' category_slug=product.category.slug detail_prod_slug=product.slug stone_slug=stone.slug %}">
          <img src="{{ stone.image.url }}"
            style="height: 500px; width:700px; object-fit: cover; display: none;"
            class="d-block w-100 img-fluid rounded-top">
        </a>
            <div class="card-body">
              <div class="d-flex justify-content-between">
              <h3 class="card-title">{{ stone.name }}</h3>
              {% include 'includes/favorites.html' %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}